p{
    text-align: right;
}
h1{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: yellow;
    border: 5px dashed red;
}
table{
    border: 3px solid black; 
    font-family: 'Times New Roman', Times, cursive;
    font-size: 25px;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
 }
 th,td{
     border: 2px solid black;
     padding: 10px;
     font-family: Arial, Helvetica, sans-serif;
     color:black;
 }
 form{
     text-align: center;
     padding: 10px;
     font-size: 30px;
 }
img{
    box-shadow: 11px 11px 100px 20px grey;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
iframe{
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 11px 11px 100px 20px grey;
}